title: Investment Research Blog
description: A blog for investment research, articles, and stock picking insights.
url: "https://invest.avgunda.github.io"
baseurl: ""

# Build settings
markdown: kramdown
highlighter: rouge
theme: minima
plugins:
  - jekyll-feed
  - jekyll-sitemap

# Minima theme settings
minima:
  skin: classic
  social_links:
    - { platform: github, user_url: "https://github.com/avgunda" }

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - vendor/
  - .bundle/
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/

# Include files
include:
  - _pages